<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
</head>
<body>
    <%- include('./partials/nav.ejs') %> 

    <section class="p-5" id="add">
        <div class="container">
            <h2 class="my-5">Add Prediction</h2>

            <form action="prediction/add" method="POST">
                <div class="form-group my-5">
                    <label for="Country">Country Flag</label>
                    <select class="form-select form-select-lg mb-3 w-50" id="country" name="country" aria-label=".form-select-lg example">
                        <option selected>Select Country</option>
                        <option value="https://www.countryflags.io/ar/flat/64.png">Argentina</option>
                        <option value="https://www.countryflags.io/ae/flat/64.png">Austria</option>
                        <option value="https://www.countryflags.io/be/flat/64.png">Belgium</option>
                        <option value="https://www.countryflags.io/br/flat/64.png">Brazil</option>
                        <option value="https://www.countryflags.io/dk/flat/64.png">Denmark</option>
                        <option value="https://www.countryflags.io/gb/flat/64.png">England</option>
                        <option value="https://www.countryflags.io/fi/flat/64.png">Finland</option>
                        <option value="https://www.countryflags.io/fr/flat/64.png">France</option>
                        <option value="https://www.countryflags.io/de/flat/64.png">Germany</option>
                        <option value="https://www.countryflags.io/gr/flat/64.png">Greece</option>
                        <option value="https://www.countryflags.io/be/flat/64.png">Hungary</option>
                        <option value="https://www.countryflags.io/ie/flat/64.png">Ireland</option>
                        <option value="https://www.countryflags.io/it/flat/64.png">Italy</option>
                        <option value="https://www.countryflags.io/ng/flat/64.png">Nigeria</option>
                        <option value="https://www.countryflags.io/no/flat/64.png">Nowray</option>
                        <option value="https://www.countryflags.io/pl/flat/64.png">Poland</option>
                        <option value="https://www.countryflags.io/pt/flat/64.png">Portugal</option>
                        <option value="https://www.countryflags.io/gb/flat/64.png">Scotland</option>
                        <option value="https://www.countryflags.io/za/flat/64.png">South Africa</option>
                        <option value="https://www.countryflags.io/es/flat/64.png">Spain</option>
                        <option value="https://www.countryflags.io/se/flat/64.png">Sweden</option>
                        <option value="https://www.countryflags.io/ch/flat/64.png">Switzerland</option>
                        <option value="https://www.countryflags.io/us/flat/64.png">United States of America</option>
                        <option value="https://www.countryflags.io/gb/flat/64.png">Wales</option>
                    </select>

                </div>
                <div class="form-group row my-5">
                    <div class="col-sm-6">
                        <label for="home_team">Home Team</label>
                        <input type="text" class="form-control" id="home_team" name="home_team" aria-describedby="emailHelp" placeholder="Enter Home Team " style="width: 30vw;">
                    </div>
                    <div class="col-sm-6">
                        <label for="away_team">Away Team</label>
                        <input type="text" class="form-control" id="away_team" name="away_team" aria-describedby="emailHelp" placeholder="Enter Away Team" style="width: 30vw;">
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="home_team">Tip</label>
                    <select class="form-control" id="tip" name="tip" style="width: 50vw">
                        <option>Home win</option>
                        <option>Away win</option>
                        <option>Draw</option>
                        <option>Home win or Draw</option>
                        <option>Away win or Draw</option>
                        <option>Both Teams to Score</option>
                        <option>Away to Score</option>
                        <option>Home to Score</option>
                        <option>Over 2.5 Goals</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group my-3">
                    <label for="exampleFormControlTextarea1">Specify If Other</label>
                    <textarea class="form-control" id="other" name="other" rows="3" style="width: 50vw"></textarea>
                </div>
                <div class="form-group my-5">
                    <label for="home_team">Date</label>
                        <input type="date" class="form-control" id="date" name="date" aria-describedby="emailHelp" placeholder="Enter Home Team " style="width: 50vw;">
                </div>
                <div class="form-group my-5">
                    <label for="home_team">Page</label>
                    <select class="form-control" id="page" name="page" style="width: 50vw">
                        <option value=1 >Personal Prediction</option>
                        <option value=2 >Tomorrows Prediction</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-lg btn-success">Submit Prediction</button>
            </form>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>