<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./partials/head.ejs') %> 
</head>

<body>

  <%- include('./partials/nav.ejs') %> 
  <br>

  <section class="p-5" id="analytics">
    <div class="container">
      <div class="d-sm-flex gap-5 py-5 my-5">
        <h2>Analytics</h2>
        <a href="#" class="btn btn-warning btn-lg">View Google Analytics</a>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse iusto, repudiandae ea quisquam voluptate ipsam aliquid saepe quasi facilis qui.</p>
    </div>
  </section>

  <section class="p-5" id="prediction">
    <div class="container">
      <div class="d-sm-flex gap-5 py-5 my-5">
        <h2>Manage Predictions</h2>
        <a href="/add_prediction" class="btn btn-success btn-lg">Add Prediction</a>
      </div>
      <div id="prediction-cards" class="row d-flex align-items-center justify-content-between px-5">
        <%- include('./partials/prediction_card.ejs') %> 
      </div>
      
    </div>
  </section>

  <section class="p-5" id="report">
    <div class="container">
      <h2>Report Bug</h2>
      <form action="" class="d-flex flex-column align-items-center justify-content-center">
        <div class="form-group my-3">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" style="width: 50vw">
        </div>
        <div class="form-group my-3">
          <label for="bug">Bug Type</label>
          <select class="form-control" id="bug" name="bug" style="width: 50vw">
            <option>General Maintanence</option>
            <option>Button Issue</option>
            <option>Link Issue</option>
            <option>Stlying Issue</option>
            <option>Page Loading</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group my-3">
          <label for="exampleFormControlTextarea1">Additional Information</label>
          <textarea class="form-control" id="info" name="info" rows="3" style="width: 50vw"></textarea>
        </div>
        <button class="btn-primary btn btn-lg my-4">Send Report</button>
      </form>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %> 

</body>

</html>