<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./partials/head.ejs') %> 
</head>

<body>

  <%- include('./partials/nav.ejs') %> 
  <br>

  <section class="p-5" id="analytics">
    <div class="container">
      <div class="d-sm-flex gap-5 py-5 my-5">
        <h2>Analytics</h2>
        <a href="#" class="btn btn-warning btn-lg">View Google Analytics</a>
      </div>
      <h4 class="mb-3">Transform your business through insights</h4>
      <p>You know better than anyone how important your company’s online presence is to its success. But do you really understand the way your customers are engaging with your site and apps? How do you know what’s working and what isn’t?

With Google Analytics, you can uncover the insights that drive real results. Stay on top of key business activities and determine how successful your site is at turning users into customers. Use Google’s machine learning to make your digital analytics data work even harder for you. Analytics gives you comprehensive digital tools to help you better understand your customers and evaluate your site, content, and products.

You get the insights that matter — along with the ability to put them to work and transform your business.</p>
<a href="docs/analytics_product_overview.pdf" class="btn btn-sm btn-primary my-2" target="blank">Link to PDF on how analytics work</a>
    </div>
    
  </section>

  <section class="p-5">
    <div class="container d-flex justify-content-end">
      <img src="img/undraw_Investment_data_re_sh9x.svg" class="img-fluid" width="700px" alt="">
    </div>
  </section>

  <section class="p-5" id="prediction">
    <div class="container">
      <div class="d-sm-flex gap-5 py-5 my-5">
        <h2>Manage Predictions</h2>
        <a href="/add_prediction" class="btn btn-success btn-lg">Add Prediction</a>
      </div>
      <div id="prediction-cards" class="row d-flex align-items-center justify-content-between px-5">
        <%- include('./partials/prediction_card.ejs') %> 
      </div>
      
    </div>
  </section>

  <section class="p-5">
    <div class="container">
      <img src="img/undraw_Mobile_payments_re_7udl.svg" class="img-fluid" width="700px" alt="">
    </div>
  </section>

  <section class="p-5" id="report">
    <div class="container">
      <h2>Report Bug</h2>
      <form action="" class="d-flex flex-column align-items-center justify-content-center">
        <div class="form-group my-3">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" style="width: 50vw">
        </div>
        <div class="form-group my-3">
          <label for="bug">Bug Type</label>
          <select class="form-control" id="bug" name="bug" style="width: 50vw">
            <option>General Maintanence</option>
            <option>Button Issue</option>
            <option>Link Issue</option>
            <option>Stlying Issue</option>
            <option>Page Loading</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group my-3">
          <label for="exampleFormControlTextarea1">Additional Information</label>
          <textarea class="form-control" id="info" name="info" rows="3" style="width: 50vw"></textarea>
        </div>
        <button class="btn-primary btn btn-lg my-4">Send Report</button>
      </form>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %> 

</body>

</html>