<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> 
</head>
<body>
  <section class="p-5">
    <div class="container">
      <div class="row d-flex flex-collumn gap-4 align-items-center justify-content-center text-center">
        <img src="img/score.png" alt="" class="img-fluid" style="width: 250px; height: 250px; border-radius: 50%;">
        <h1 style="color: black;">Qtscore Admin Panel</h1>
      </div>

      

      <form action="/login" method="POST" class="d-flex flex-column align-items-center justify-content-center">
        <% if(messages.error) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages.error; %>.  Please Try Again. 
            </div>
      <% } %> 
        <div class="form-group my-4">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter username" style="width: 30vw;">
        </div>
        <div class="form-group my-4">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="width: 30vw;">
        </div>
        <button type="submit" class="btn btn-primary my-4 btn-lg" style="width: 30vw;">Login</button>
      </form>
    </div>
  </section>

  <br/>
  <br/>
  <br/>
  <%- include('./partials/footer.ejs') %> 

</body>

</html>